@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

$primary-color: rgba(3,121,188,0.41);
$secondary-color: #6797b1;
$secondary-dark-color: #7390ad;
$font: "Ropa Sans", sans-serif;
$button-primary: #e6b86c;
$button-secondary: #7390ad;
$grey-150: #f8f9faeb;