@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

$primary-color: #ce8436;
$primary-light: #d2c8be;
$secondary-color: #6797b1;
$secondary-dark-color: #7390ad;
$font: "Ropa Sans", sans-serif;
$button-primary: #f09730;
$button-secondary: #7390ad;
$grey-150: #f8f9faeb;
$background-sec-dark: #343a40;