@import "../scss/variables";

body{
  background-color: #efefef;
}

.container {
  padding: 1%;
}

.fa-search {
  float: right;
  color: white;
  font-size: 29px;
  padding: 10px;
}
.banner {
  background-color: #6c8d92;
  height: 220px;
  .slogan {
    text-align:center;
    font-size: 48px;
    color: white;
    font-family: $font;
    position: relative;
    top: 20px;
  }
}

.search-bar {
  position:relative;
  top:-25px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  width: calc(25% + 200px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  .btn-primary {
    background-color:#4e4e4e;
    border: none;
    width: 20%;
    height: 100%;
    float: right;

    p {
      position: relative;
      bottom: 6px;
      font-size: 13px;
    }
  }

  .icon-container {
    height: 100%;
    width: 50px;
    float: right;
    background-color: #dcdcdc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

  }
}

.filter{
  height: 500px;
  background-color: white;
  width: 100%;
}

@media only screen and (max-width: 580px) {
  .filter {
    display: none;
    background-color: red;
  }

  .col-sm-4 {
    padding: 5px;
  }
}

.job-card {
  background-color:white;
  height:120px;
  border-radius: 4px;
  border: 1px solid $primary-light;

  .job-spec {
    padding: 20px;
    font-size: 14px;
    color: #343438;
    font-family: $font;

    .role {

    }

    .location {
      font-size: 8px;
    }

    .salary {
      margin-top: 12px;
    }
    .chevron {
      float: right;
    }

  }
}



